.hero_wrap {
  @apply p-[20px];
}
.hero_head {
  font-family: Grotesque;
  @apply text-[28px] pt-[45px] w-[327px] font-bold leading-[39px] tracking-[0.01em];
}
.hero_title {
  font-family: Poppins;
  width: 288px;
  padding-top: 16px;
  font-size: 1rem;
  line-height: 167%;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(38 37 36 / var(--tw-text-opacity));
  opacity: 0.6;
}
.hero_btn {
  font-family: Poppins;
  left: 24px;
  top: 354px;
  padding-top: 30px;
  display: grid;
  gap: 22px;
  grid-template-columns: 1fr 1fr;
}
.hero_btn_gst {
  width: 176px;
  height: 40px;
  background: #264373;
  box-shadow: 0px 14.2857px 57.1429px rgba(51, 78, 123, 0.3);
  border-radius: 7.14286px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero_btn_gst_text {
  width: 68px;
  height: 14px;

  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
}
.hero_btn_gst svg {
  width: 18px;
}
.hero_btn_lm {
  width: 125px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff;
  box-shadow: 0px 14.2857px 57.1429px rgba(51, 78, 123, 0.3);
  border-radius: 7.14286px;
}
.hero_btn_lm_text {
  width: 69px;
  height: 12px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #264373;
}
.hero_brand {
  padding-top: 40px;
}

.hero_brand_title {
  width: 45px;
  height: 18px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #262524;
}
.hero_brand_icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: stretch;
  margin-top: 22px;
}

.hero_brand_icon img {
  width: 55px;
}
.adidas img {
  width: 43px;
}
/* triner section */

.hero_triner {
  position: relative;
  height: 350px;
}

.hero_triner_img {
  position: absolute;
  left: 90px;
  z-index: 10;
  bottom: 0;
}

.hero_triner_ellipse {
  position: absolute;
  bottom: 0;
  width: 230px;
  right: 65px;
}
.hero_triner_curve {
  position: absolute;
  right: 15px;
  bottom: 0;
  width: 270px;
  z-index: 5;
}
.hero_triner_wave {
  position: absolute;
  left: 55px;
  top: 99px;
}

.hero_triner_mem {
  font-family: Poppins;
  position: absolute;
  left: 0;
  top: 50px;
  width: 125px;
  height: 59px;
  z-index: 11;
  background: #ffffff;
  box-shadow: 0px 11.7241px 46.8966px rgba(51, 78, 123, 0.3);
  border-radius: 5.86207px;

  display: grid;
  font-size: 12px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.hero_triner_circle {
  background: linear-gradient(45deg, #f8a422 13.75%, #fedeac 92.08%);
  box-shadow: 0px 2.34483px 8.2069px rgba(0, 0, 0, 0.09);
  border-radius: 58.6207px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_triner_mem_text {
  font-family: Poppins;
}
.hero_triner_ex1 {
  background: linear-gradient(45.98deg, #5478ef 19.69%, #d6dfff 92.63%);
  box-shadow: 0px 11.7241px 46.8966px rgba(51, 78, 123, 0.3);
  border-radius: 35.1724px;
  position: absolute;
  bottom: 50px;
  height: 50px;
  width: 50px;
  display: flex;
}
.hero_triner_ex2 {
  background: linear-gradient(50.31deg, #4bace1 15.91%, #d8f1ff 92.82%);
  box-shadow: 0px 2.34483px 8.2069px rgb(0 0 0 / 9%);
  border-radius: 58.6207px;
  position: absolute;
  top: 69px;
  right: 0px;
  height: 50px;
  width: 50px;
  display: flex;
  z-index: 20;
}

.hero_triner_tmb {
  width: 133.62px;
  height: 92.03px;
  bottom: 46px;
  right: 0;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 11.7241px 46.8966px rgb(51 78 123 / 30%);
  border-radius: 5.86207px;
  z-index: 55;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  font-family: Poppins;
}
.hero_triner_tmb small {
  opacity: 0.5;
}
.hero_triner_tmb p {
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.01em;
  color: #262524;
}
.hero_triner_tmb_img {
  width: 40px;
  height: 40px;
  border-radius: 27.86207px;
  background: linear-gradient(0deg, #6765f0, #6765f0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_triner_tmb_img svg {
  color: white;
  font-size: 20px;
}
.reebok img {
  width: 80px;
}

/****** Responsive Design *******/

/* Custom, iPhone Retina-> Mobile-S */
@media screen and (min-width: 320px) {
  .hero_triner {
    height: 325px;
  }
  .hero_triner_curve {
    right: -46px;
  }
  .hero_triner_curve img {
    @apply w-[236px];
  }
  .hero_triner_ellipse {
    right: -12px;
  }
  .hero_triner_ellipse img {
    @apply w-[236px];
  }
  .hero_triner_ex1 {
    left: 20px;
    height: 40px;
    width: 40px;
  }
  .hero_triner_ex2 {
    right: -18px;
    top: 95px;
    height: 40px;
    width: 40px;
  }
  .hero_triner_mem {
    height: 50px;
    width: 110px;
  }
  .hero_triner_mem_text {
    font-size: 10px;
  }
  .hero_triner_circle {
    height: 35px;
    width: 35px;
  }
  .hero_triner_tmb {
    right: -13px;
    @apply w-[97px] h-[63px];
  }
  .hero_triner_tmb_img {
    @apply w-[35px] h-[35px];
  }
  .hero_triner_tmb p {
    @apply text-[8px];
  }
  .hero_triner_tmb small {
    @apply text-[7px];
  }
  .hero_title {
    @apply w-[287px] text-[10px];
  }
}
/*iPhone Retina -> Mobile-M */
@media screen and (min-width: 375px) {
  .hero_title {
    width: 330px;
    font-size: 13px;
  }
  .hero_triner_img img {
    width: 220px;
  }
  .hero_triner {
    height: 405px;
  }
  .hero_triner_curve img {
    width: 260px;
  }
  .hero_triner_curve {
    right: -26px;
    width: 300px;
  }
  .hero_btn_gst {
    width: 186px;
  }
  .hero_btn_lm {
    width: 145px;
  }
  .hero_brand_icon {
    width: 350px;
  }
  .reebok img {
    width: 87px;
  }
  .hero_triner_ellipse {
    right: 52px;
  }
  .hero_triner_ex1 {
    left: 20px;
    height: 50px;
    width: 50px;
  }
  .hero_triner_ex2 {
    right: 0;
    top: 95px;
    height: 50px;
    width: 50px;
  }
  .hero_triner_mem {
    height: 50px;
    width: 120px;
  }
  .hero_triner_mem_text {
    font-size: 12px;
  }
  .hero_triner_circle {
    height: 45px;
    width: 45px;
  }
  .hero_triner_circle img {
    width: 32px;
  }
  .hero_triner_tmb {
    @apply w-[135px] h-[85px] right-[10px];
  }
  .hero_triner_tmb_img {
    @apply w-[40px] h-[40px];
  }
  .hero_triner_tmb p {
    @apply text-[8px];
  }
  .hero_triner_tmb small {
    @apply text-[7px];
  }
}

/*Phones -> Mobile-L */
@media screen and (min-width: 425px) {
  .hero_title {
    width: 415px;
    font-size: 13px;
  }
  .hero_triner_curve {
    width: 340px;
  }
  .hero_triner_ellipse {
    right: 110px;
  }
  .hero_triner_ex2 {
    right: 2px;
  }
  .hero_triner_tmb_img {
    height: 50px;
    width: 50px;
  }
  .hero_triner_tmb p {
    font-size: 12px;
    gap: 2px;
  }
  .hero_btn_gst {
    width: 200px;
  }
  .hero_btn_lm {
    width: 170px;
  }
  .hero_brand {
    margin-bottom: 40px;
  }
  .hero_brand_icon {
    width: 400px;
  }
  .hero_brand_icon img {
    width: 70px;
  }
  .reebok img {
    width: 110px;
  }
  .adidas img {
    width: 60px;
  }
}

/* Small Devices, Tablets */
@media screen and (min-width: 768px) {
  .hero_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
  }
  .hero_head {
    font-size: 36px;
  }
  .hero_btn {
    display: flex;
  }
  .hero_btn_gst {
    width: 150px;
  }
  .hero_btn_lm {
    width: 120px;
  }
  .hero_brand_icon {
    width: 295px;
  }
  .hero_brand_icon img {
    width: 50px;
  }
  .adidas img {
    width: 45px;
  }
  .reebok img {
    width: 70px;
  }
  .hero_triner {
    width: 370px;
  }
  .hero_triner_img img {
    width: 250px;
  }
  .hero_triner_curve img {
    width: 305px;
  }
  .hero_triner_ellipse {
    right: 78px;
  }
  .hero_triner_ex1 {
    left: 27px;
    height: 50px;
    width: 50px;
    bottom: 125px;
  }
  .hero_triner_tmb{
    right: -45px;
  }
  .hero_triner_wave{
    top: 108px;
  }
}

/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media screen and (min-width: 1200px) {
}
