.Hside_head {
  width: 310px;
  padding-left: 20px;
  margin-top: 8px;
}
.hero_title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 11px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #262524;
  opacity: 0.6;
  margin-top: 15px;
}

/****** Responsive Design *******/

/* Custom, iPhone Retina-> Mobile-S */
@media screen and (min-width: 320px) {
}
/*iPhone Retina -> Mobile-M */
@media screen and (min-width: 375px) {
}

/*Phones -> Mobile-L */
@media screen and (min-width: 425px) {
  .Hside_head {
    width: auto;
  }
  .hero_title {
    font-size: 13px;
  }
}

/* Small Devices, Tablets */
@media screen and (min-width: 768px) {
  .Hside_head {
    width: auto;
    display: grid;
    grid-template-columns: 450px 1fr;
    align-items: end;
    font-size: 36px;
  }
  .hero_title{
    width: 600px;
  }
}

/* Medium Devices, Desktops */
@media screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media screen and (min-width: 1200px) {
}
