@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Grotesque;
  src: url("/font/SportingGrotesque-Regular.otf");
}

@font-face {
  font-family: Poppins;
  src: url("/font/Poppins-Regular.ttf");
}

body {
  background: #E5E5E5;
}
