@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Grotesque;
  src: url("/font/Grotesque.otf");
}

@font-face {
  font-family: Poppins;
  src: url("/font/Poppins.ttf");
}

body {
  background: #E5E5E5;
}
